/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #3e588f;
  font-size: 26px;
  line-height: 1.4;
  /*color: #606161;*/
  font-family: 'Open Sans', 'Niconne', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #e3e8f8;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
 width: 960px;
  margin: 0 auto;
}

header .container {
  text-align: center;
}

header {
  padding: 25px 0;
  overflow: hidden;
}

header img {
  width: 50%;
  height: 50%;
  border: 3px solid #3e588f;
}

h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 10px;
}

h2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 1.3;
}

button {
    background-color: #c0c5cd; 
    width: 200px;
    border: none;
    border-radius: 8px;
    color: #203562;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Open Sans', 'Niconne', Helvetica, Arial, sans-serif;

}

#main {
  margin-top: 20px;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.flex-container-l1 {
    display: -webkit-flex;
    display: flex;
    width: 95%;
    margin: auto;
/*    display:none; */  
}

.flex-container-l1 img {
  width: 150px;
  height: 150px;
  border: 2px solid #203562;
  margin-right: 5px;
  margin-left:5px;
}

.flex-container-l1 p {
  font-size:35px;
  color:#203562;
  /*text-align: center;*/
  padding-left: 40;
  /*margin-left: 20px;*/
}

.flex-container-family {
  -webkit-flex-direction: column;
  flex-direction: column;
    width: 13.4%;
    margin: 10px;
/*    display:none;*/
}

.flex-container-family button {
    background-color: #c0c5cd; 
    border: none;
    border-radius: 8px;
    color: #203562;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:0;
    margin-left:5px;
    margin-bottom:30px;
    cursor: pointer;
    width:auto;
}

.flex-container-children {
    display: -webkit-flex;
/*    -webkit-justify-content: center;
    justify-content: center*/
    display: flex;
    margin: auto;
    margin-top:20px;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-container-children img {
  width: 80px;
  height: 80px;
  border: 2px solid #3e588f;
  margin-right: 1px;
  margin-left:2px;
}

.flex-container-children p {
  font-size:30px;
  color:#3e588f;
  margin-top:0;
  margin-bottom:20px;
  text-align: left;
}

.flex-container-grandchildren {
    display: -webkit-flex;
    -webkit-justify-content: left;
    justify-content: left
    display: flex;
    margin-left: 0;
    /*margin: auto;*/
/*    -webkit-flex-direction: column;
    flex-direction: column;*/
}

.flex-container-grandchild {
    display: -webkit-flex;
    -webkit-justify-content: left;
    justify-content: left
    display: flex;
    margin-left: 0;
    /*margin: auto;*/
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-container-grandchild img {
  width: 40px;
  height: 40px;
  border: 1px solid #3e588f;
  margin-right: 1px;
  margin-left:2px;
  margin-bottom:0;
}
.flex-container-grandchild p {
  font-size:10px;
  color:#3e588f;
  margin-left: 0;
  margin-top:0;
  margin-bottom:2px;
  text-align: left;
}

.sibling {
  /*background-color: red;*/
  display:none; 
}

.child {
 /* background-color: purple;*/
  display:none;
}

.grandchild {
  display:none;
}

.flex-container-family button {
  display: none;
}

.flex-container-children .bigpic, .flex-container-grandchild .bigpic {
  width: 150px;
  height: 150px;
  border: 2px solid #203562;
  margin-right: 5px;
  margin-left:5px;
}

.flex-container-children .bigtext, .flex-container-grandchild .bigtext {
  font-size:35px;
  color:#203562;
  padding-left: 40;
}

div.flex-container-family.enrique .child {
}

div.flex-container-family.meno .child, .grandchild {
}

div.flex-container-family.ludy .child {
}

div.flex-container-family.patricia .child {
}

div.flex-container-family.dino .child, .grandchild {
}

div.flex-container-family.rudy .child {
}

